/* *{
    background-color: white;
} */

body{
    background-color: black;
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height:calc(100vh - 10px);
}

.problem{
    color: white;
    border: 1px solid white;
    width:50%;
    height:100%;
}

.button_container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* margin: .5em; */
    width:100%;
    color:white;
}

.buttons{
    padding: .5em;
    color:white;
    background-color: black;
    /* border: 1px solid grey; */
    margin-top: 0.1em;
    width:50%;
}
.editor{
    background-color: black;
    text-align: left;
    align-items: left;
    justify-content: left;
    height:90%;
    /* border: 5px solid red; */
}
.buttons_editor{
    width:100%;
    height:10%;
    /* border: 1px solid blue; */
}
h1{
    color: white;
}